.odas-container {
    width: 70% !important;
    margin-top: 5%;
}

.odas-title * {
    margin: 0
}

.odas-top-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 3%;
    margin-top: 3%;
}

.odas-bot-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.odas-top-row > div {
    width: 30%;
}

.odas-bot-row > div {
    width: 30%;
}