body {
    background-image: url("../../Images/mainpagebg.jpg");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main-container {
    width: auto;
    height: 100vh;
}

.skip-button-container {
    width: 100%;

}